@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    height: 9920px;
    margin: 0 auto;
}

nav{
    height: 89px;
}

#nav-list{
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navigations{
    display: flex;
    align-items: center;
}

#navigations ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

#navigations ul a{
    text-decoration: none;
    color: black;
    text-align: right;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    transition: all 0.6s ease-in-out;
}

#navigations ul a:hover{
    font-size: 20px;
    transition: all 0.6s ease-in-out;
}

#navigations h1{
    color: #000;
    font-family: "Ultra";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
}

#nav-list button{
    width: 138px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: #000;
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out;
}

#nav-list button:hover{
    font-size: 20px;
    background:none;
    color: black;
    border: 1px solid black;
    transition: all 0.6s ease-in-out;
}

header{
    display: flex;
    height: 791px;
    background: rgba(231, 212, 190, 0.44);
    justify-content: space-between;
}

#header-text-background{
    display: flex;
    height: 500px;
}

#header-text{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.SIENCE{
    color: #000;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.Fresh{
    margin-top: 21px;
    width: 467px;
    color: #000;
    font-family: Ultra;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    margin-bottom: 27px;
}

.Eve{
    width: 470px;
    height: 70px;
    color: #000;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#since_and_img{
    position: relative;
}

#coloss-img{
    position: absolute;
    right: 150px;
    top: 30px;
}

#main-content-first-blocks{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#text-img-content-main{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#img-content-main{
    width: 512px;
    height: 519px;
    position: relative;
}

#img-content-main img{
    position: absolute;
}

.img{
    width: 300px;
}

#background-figure{
    width: 450px;
    z-index: -1;
}

#Bread_circle{
    z-index: 1;
}

#breads_batons{
    top: 35%;
    left: 56px;
    z-index: 2;
}

#Combined_large{
    right: 111px;
    top: 31px;
    z-index: 0;
}

#Combined_small{
    top: 53%;
    left: -15%;
}

#first-but button{
    position: relative;
}

.arrow_up{
    position: absolute;
    top: 39%;
    left: 39%;
}

.arrow_down{
    position: absolute;
    top: 46%;
    left: 39%;
}

#first-but button img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons-text button{
    border: none;
    background: none;
}

#text-content-opis-and_but{
    display: inline-flex;
    justify-content: space-evenly;
}

#buttons-text{
    padding-top: 66px;
}

.About{
    color: #171B1B;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.Baking{
    margin-top: 0;
    width: 570px;
    height: 131px;
    color: #171B1B;
    font-family: Ultra;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    margin-bottom: 0;
}

.num{
    color: #171B1B;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.Last{
    color: #171B1B;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    margin-top: 0;
    margin-bottom: 0;
}

.She{
    width: 370px;
    height: 93px;
    color: rgba(51, 51, 51, 0.50);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
}

#texts-cont p{
    color: #171B1B;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
}